<html>
	<body><center>
		<form method="post">
		<table>
		<tr>
			<th> What to say: </th><th> <input type="text" name="text"/><br/><br/></th>
		</tr>
		<tr>
			<th> Number to call: </th><th> <input type="text" name="number"/><br/><br/></th>
		</tr>
		<tr>
			<th> Text-to-speech language: </th><th> <select name="language">
										{% for lang in langs %}
										<option value="{{lang}}"> {{langs[lang][0]}} </option>
										{% endfor %}
									</select><br/><br/></th>
		</tr>
		</table>
		<br/>
		<br/>
		<button type="submit">Call</button>
		</form>
	</center>
</body>
</html>